@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/bg.jpg) fixed center/cover;
}